#XfceNotifyWindow {
  border-radius: 6px;
  box-shadow:
    0 2px 2.4px -1px rgba(0, 0, 0, 0.2),
    0 4px 3px 0 rgba(0, 0, 0, 0.14),
    0 1px 6px 0 rgba(0, 0, 0, 0.12),
    inset 0 1px rgba(255, 255, 255, 0.05);
  background-color: #3c3836;
  color: #d4be98;
  font-size: 14px;
}
#XfceNotifyWindow buttonbox button:not(:disabled) {
  color: #7c6f64;
  box-shadow: none;
  background-color: transparent;
}
#XfceNotifyWindow buttonbox button:not(:disabled):drop(active),
#XfceNotifyWindow buttonbox button:not(:disabled):hover {
  box-shadow: none;
  background-color: rgba(124, 111, 100, 0.08);
}
#XfceNotifyWindow buttonbox button:not(:disabled):focus {
  box-shadow: none;
  background-color: rgba(124, 111, 100, 0.08);
}
#XfceNotifyWindow buttonbox button:not(:disabled):active {
  box-shadow: none;
  background-image: radial-gradient(
    circle,
    rgba(124, 111, 100, 0.12) 10%,
    transparent 0%
  );
}
#XfceNotifyWindow label#summary {
  font-weight: bold;
}
#XfceNotifyWindow label#summary + label {
  color: rgba(212, 190, 152, 0.7);
}
