global !p
from comment import (
	comment_line,
	vi_set_filetype,
)
endglobal


snippet comment_line "toggle comment single line"
`!p
snip.rv = comment_line(snip)
`
endsnippet


snippet file_type "vi set filetype" b
`!p
snip.rv = vi_set_filetype(snip)
`
endsnippet
