global !p
from snippets.common import strtoday
endglobal


snippet hdr "header" b
/**
 * @author  Solomon Ng <solomon.wzs@gmail.com>
 * @version 1.0
 * @date    `!p
snip.rv = strtoday()
`
 * @license MIT
 */
endsnippet


snippet ifn "ifndef" b
#ifndef ${1:NAME}
#define $1

#endif
endsnippet


snippet main "main" b
int
main(int argc, char **argv) {
  ${1}
  return 0;
}
endsnippet
