global !p
from snippets.common import strtoday
endglobal


snippet #! "header" b
#!/bin/bash
#
# @author    Solomon Ng <solomon.wzs@gmail.com>
# @date      `!p
snip.rv = strtoday()
`
# @version   1.0
# @copyright MIT

set -euo pipefail

SCRIPT=$(readlink -f "\$0")
DIR=$(dirname "$SCRIPT")
endsnippet
